/tmp
/.classpath
/pkg
/spec/fixtures/test_project/data
/spec/fixtures/test_project/important.doc
/spec/fixtures/test_project/another_file
/spec/fixtures/test_project/.bundle*
/spec/fixtures/test_project/vendor
